/* your code */
table{
	border: 1px solid lightgray;
	border-radius: 4px;
}
thead{
	background-color: lightskyblue;
}
td{
	text-align:center;
}
th{
	padding: 4px;
}
.rw2{
	background-color:lightgray;
}

